.button {
  font-family: "Averia Sans Libre", cursive;
  align-self: center;
  padding: 0.6rem 3.5rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 1.2rem;
}
