.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
}

.modal-dialog-box {
    overflow-y: auto;
    background-color: white;
    max-width: 600px;
    padding: 2rem;
    border-radius: 5px;

}


.close-button {
    align-self: baseline;
    justify-self: baseline;
    margin: 0 0 0 95%;
}