@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300&family=Luckiest+Guy&display=swap');

.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: sans-serif;
  
  font-family: 'Luckiest Guy', cursive;
  max-width: 500px;
  margin: 0 auto;
}
